doctype html
html(lang="en")
  head
    title= "TKO"
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap-reboot.min.css" integrity="sha256-ZeIRHNBrNlXFlcfvaKsx9S1BOwWJ42hBund78iurMLw=" crossorigin="anonymous")
    script(src="https://unpkg.com/tko@4.0.0-alpha3/dist/ko.js" integrity="sha384-W6Un9ta1JSOmCbK7YkdGGfyu+fDGY5e0II5CCyMKKXaYrpiJAt2q5YQH2ICQi4QA" crossorigin="anonymous")
    script(src='tko-io.js')

    link(rel="stylesheet" href='tko.css')
  body
    .head
      .title TKO
      a(href='https://github.com/knockout/tko') Github
      a(href='https://patreon.com/brianmhunt') Patronage!

    .toc
      each part in parts
        a(href='#' + part.data.title) #{part.data.title}
    
    .body
      each part in parts
        h1(id=part.data.title) #{part.data.title}
        | !{part.html}