doctype html
html(lang="en")
  head
    title= "TKO"

    each link in links
      link(rel='stylesheet' href=link.href integrity=link.integrity crossorigin='anonymous')

    each script in scripts
      script(src=script.src integrity=script.integrity crossorigin=script.crossorigin type=script.type || "application/javascript" async=script.async)

  body
    .head
      .title TKO
      a(href='https://github.com/knockout/tko') Github
      a(href='https://patreon.com/brianmhunt') Patronage!

    .toc
      each part in parts
        div
          a(href='#' + part.data.title) #{part.data.title}

    .body
      each part in parts
        h1(id=part.data.title) #{part.data.title}
        | !{part.html}
