doctype html
html(lang="en")
  head
    title= "TKO"
    meta(charset="UTF-8")

    each link in links
      link(rel='stylesheet' href=link.href integrity=link.integrity crossorigin='anonymous')

    each script in scripts
      script(src=script.src integrity=script.integrity crossorigin=script.crossorigin type=script.type || "application/javascript" async=script.async)

    style(type='text/css')
      | #{styles}

  body
    nav.top-bar(data-bind='highlightIfCurrent')
      .tko TKO
      a(href='/') Introduction
      a(href='/3to4') Knockout 3 to 4 Guide
      a.external(href='https://github.com/knockout/tko') Github

    nav.sidebar
      #toc.toc(data-bind='each: contents')
        a(href='#\{{ navId }}' class='nav flex-column' data-bind='template: { nodes: nodes }, class: css, click: click')

    main
      each section in sections
        .section
          .section-title #{section.title}
          .section-body !{section.html}
